﻿@model IEnumerable<IOEInterface.Model.StudentModel>

@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style>
        table {
            display: block;
            overflow: scroll;
        }
    </style>*@



@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        @*<li class="active"><span>@Html.ActionLink("Create New", "Create")</span></li>*@
                        @Html.ActionLink("Add", "Create", "StudentSetup", "", new { @class = "btn btn-default" })
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Student
                </h2>
            </div>
        </div>
    </div>
}


@{Html.RenderAction("Index", "StudentSetup"); }





<div class="row" style="margin-top:40px;"> 
<table class="table table-bordered" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.TURegisterationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CampusRollNumber)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CourseInstituteBody.InstituteBodyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseFieldOfStudy.Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.StatusId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CourseDegree.DegreeName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PersonalContactNumber)</th>
            @*<th>
                    @Html.DisplayNameFor(model => model.FatherFullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocalGuardianFullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdmissionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentAcedemicYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentAcedemicPart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClearAll)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PTelephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PWardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PTole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PVillageCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PDistrictId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PCountryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CTelephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CWardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CTole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CVillageCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CDistrictId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CCountryId)
                </th>*@

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
     
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Id)
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>

                    @*<td>
                            @Html.DisplayFor(modelItem => item.TURegisterationNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CampusRollNumber)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseInstituteBody.InstituteBodyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseFieldOfStudy.Name)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.StatusId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseDegree.DegreeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sex)
                    </td>
                    <td>
                        @Convert.ToDateTime(item.DateOfBirth).ToString("MM-dd-yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonalContactNumber)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.FatherFullName)
                        </td>



                        <td>
                            @Html.DisplayFor(modelItem => item.LocalGuardianFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdmissionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentAcedemicYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentAcedemicPart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClearAll)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PTelephone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PWardNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PTole)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PVillageCity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PDistrictId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PCountryId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CTelephone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CWardNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CTole)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CVillageCity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CDistrictId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CCountryId)
                        </td>*@

                    <td>
                        @Html.ActionLink("Edit", "Update", new { id = item.Id })

                    </td>
                </tr>
           
                  
        }

    </tbody>
</table>
    </div>
@*</div>
    </div>*@




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
                $("#datatable").DataTable();
    </script>
}

@*....................................................................
    @model IEnumerable<IOEInterface.Model.StudentModel>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @*<style>
            table {
                display: block;
                overflow: scroll;
            }
        </style>

    @section PageHeader{
        <div class="small-header">
            <div class="hpanel">
                <div class="panel-body">
                    <div id="hbreadcrumb" class="pull-right">
                        <ol class="hbreadcrumb breadcrumb">
                            <li class="active"><span>@Html.ActionLink("Create New", "Create")</span></li>
                        </ol>
                    </div>
                    <h2 class="font-light m-b-xs">
                        Students
                    </h2>
                </div>
            </div>
        </div>
    }

    @*<div class="panel panel-default">
        <div class="panel-body">
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>

           <th>
                    @Html.DisplayNameFor(model => model.TURegisterationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CampusRollNumber)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseInstituteBody.InstituteBodyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseFieldOfStudy.Name)
            </th>
           <th>
                    @Html.DisplayNameFor(model => model.StatusId)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDegree.DegreeName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PersonalContactNumber)</th>
            <th>
                    @Html.DisplayNameFor(model => model.FatherFullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocalGuardianFullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdmissionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentAcedemicYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentAcedemicPart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClearAll)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PTelephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PWardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PTole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PVillageCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PDistrictId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PCountryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CTelephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CWardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CTole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CVillageCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CDistrictId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CCountryId)
                </th>

            <th>Action</th>
        </tr>

        @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.Id)
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.TURegisterationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CampusRollNumber)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseInstituteBody.InstituteBodyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseFieldOfStudy.Name)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.StatusId)
                    </td>
                            <td>
                    @Html.DisplayFor(modelItem => item.CourseDegree.DegreeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Convert.ToDateTime(item.DateOfBirth).ToString("MM-dd-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalContactNumber)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.FatherFullName)
                    </td>



                    <td>
                        @Html.DisplayFor(modelItem => item.LocalGuardianFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdmissionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentAcedemicYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentAcedemicPart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClearAll)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PTelephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PWardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PTole)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PVillageCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PDistrictId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PCountryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CTelephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CWardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CTole)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CVillageCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CDistrictId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CCountryId)
                    </td>

                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.Id })

                </td>
            </tr>
        }

    </table>
    @*</div>
        </div>*@



