﻿
@{
    ViewBag.Title = "College";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>College</h2>


@section PageHeader{
    <div class="small-header">
        <div class="hpanel">



            <div class="col-sm-2" style="min-height: 180px;">
                <div class="box box-top-border">
                    <a href="">
                        <div class="hero-widget well-menu well-sm" style="min-height: 150px">
                            <div class="icon" style="text-align:center;">
                                <i class="" style="font-size:45px; text-align:center;" aria-hidden="true"></i>
                            </div>
                            <div class="text" style="text-align:center; padding-top:30%;">
                                <label class="text-muted"
                                       style="font-size: 14px">CollegeRole</label>
                            </div>
                        </div>
                    </a>
                </div>
            </div>




        </div>
    </div>
}


