﻿
@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UnAuthorized</h2>

<h3>Sorry !! You arenot authorized to perform this action.<br/>
    Please Contact the System Administrator.
    <br/>
    Thank You!!!</h3>

