﻿
@{
    ViewBag.Title = "VoucherUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Upload Voucher</h4>
<hr />
@using (Html.BeginForm("VoucherUpload", "DashBoard", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
{


    <div class="form-horizontal">



        <div class="form-group">

            <div class="control-label col-md-2">Excel:</div>
            <div class="col-md-10">
                <input type="file" id="file" name="file" class="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />

            </div>
        </div>
    </div>
}


