﻿@model IEnumerable<MasterInterface.Model.StudentModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{Html.RenderAction("Index", "StudentUser"); }



<table class="table table-bordered" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TURegisterationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampusRollNumber)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CourseInstituteBody.InstituteBodyName)
            </th>*@
            <th>Action</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.Id)
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TURegisterationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampusRollNumber)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CourseInstituteBody.InstituteBodyName)
                </td>*@
                <td>
                    @if (item.IsUserCreated)
                    {
                        @Html.ActionLink("Update User", "Update", new { id = item.Id }) <text>|</text>
                        @Html.ActionLink("Reset Password", "Reset", new { id = item.Id },
                           new { onclick = "return confirm('Do you want to reset?');" })
                    }
                    else
                    {
                        @Html.ActionLink("Create User", "Create", new { id = item.Id })
                    }


                </td>
            </tr>
        }
</tbody>
</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
    $("#datatable").DataTable();
    </script>
}




