﻿@model MasterInterface.Model.StudentModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

@using (Html.BeginForm("Get", "StudentUser", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <label class="control-label col-md-2">College Name</label>
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.InstituteBodyId, Model.CourseInstituteBodySelectList, "----------------------------Select Please---------------------------", new { @class = "form-control" })
        </div>
        <div class="col-md-offset-1 col-md-2">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
    
       
   
}




