﻿@model IEnumerable<MasterInterface.Model.ExamFeeStructureModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        @*<li class="active"><span>@Html.ActionLink("Create New", "Create")</span></li>*@
                        @Html.ActionLink("Add", "Create", "ExamFeeStructure", "", new { @class = "btn btn-default" })
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Exam Fee Structure
                </h2>
            </div>
        </div>
    </div>
}


<table class="table table-bordered" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegularAffiliated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegualarNonAffiliated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackAffiliated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackNonAffiliated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamFormFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamCenterFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>Action</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.Id)
                    @Html.DisplayFor(modelItem => item.RegularAffiliated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegualarNonAffiliated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BackAffiliated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BackNonAffiliated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamFormFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamCenterFee)
                </td>
                <td>
                    @if (item.Type=="B")
                    {
                    <text>Bachelor</text>
}
else
{
                        <text>Master</text>

}
                    @Html.HiddenFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.Id })
                </td>
            </tr>
        }
        </tbody>
</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
    $("#datatable").DataTable();
    </script>
}




