﻿@model IEnumerable<IOEInterface.Model.StudentPreviousDegreeModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    table {
        display: block;
        overflow: scroll;
    }
</style>

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span>@Html.ActionLink("Create New", "Create")</span></li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Students
                </h2>
            </div>
        </div>
    </div>
}
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseDegreeLevel.DegreeLevelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CampusRollNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseInstituteBody.InstituteBodyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Board)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Examination)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullMarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalMarksObtain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Migration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SchoolCollege)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Program)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Division)
                </th>

                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Id)
                        @Html.DisplayFor(modelItem => item.CourseDegreeLevel.DegreeLevelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CampusRollNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseInstituteBody.InstituteBodyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Board)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Examination)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullMarks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalMarksObtain)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Migration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolCollege)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Program)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Division)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Update", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        </div>
</div>