﻿
@model IEnumerable<MasterInterface.Model.MenuModel>

@{

    Layout = null;
}
<ul>
    <li><a href="#menu-toggle" id="menu-toggle"> <i class="fa fa-bars" aria-hidden="true"></i></a></li>
    @foreach (var item in Model)
    {

        <li>

            <a href="~/@item.Controller/@item.MenuLink"><i class="@item.CssClass" aria-hidden="true"></i> @item.Name</a>
           

        </li>
    }
   </ul>
<div style="clear: both"></div>



