﻿@model MasterInterface.Model.LoginModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
</style>
<div class="row">
    <div class="container-fluid">
        <br /><br /><br />
        <br /><br /><br />
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default" style="opacity: .9">
                    <div class="panel-heading"><h3>Login</h3></div>
                    <div class="panel-body">
                                @using (Html.BeginForm())
                                    {
                                @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <fieldset>
                                <div class="form-group">

                                    <label for="UserName" class="uname"> Your Email or Username </label>
                                    <input class="form-control input-lg" placeholder="Enter Your Email" required="required" name="UserName" type="text">
                                  
                                </div>
                                <div class="form-group">
                                    <label for="Password" class="youpasswd"> Your Password </label>
                                    <input class="form-control input-lg" id="password" placeholder="Enter Your Password" required="required" name="Password" value="" type="password">
                                </div>
                                <div class="togglebutton">
                                    @*<label class="">
                                        <div class="icheckbox_square-blue" style="position: relative;" aria-checked="false" aria-disabled="false"><input id="loginkeeping" name="loginkeeping" value="1" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                        &nbsp; <label for="loginkeeping" class="">Keep me logged in</label>
                                    </label>*@

                                </div>
                                <div class="colorgraph" style="margin-bottom:15px;margin-top: 30px"></div>
                                @*<div class="pull-right">
                                    <a href="http://hr.youngminds.com.np/password/remind">Reset Password</a>
                                </div>*@
                                <!-- Change this to a button or input when using this as a form -->
                                <input class="btn btn-success" value="Login" type="submit">

                            </fieldset>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>