﻿
@model IEnumerable<MasterInterface.Model.MenuModel>

@{

    Layout = null;
}

<div id="sidebar-wrapper" class="menusBg menusColor">
    <ul class="sidebar-nav">
        @foreach (var item in Model)
        {
          <li>  <a href="~/@item.Controller/@item.MenuLink"><span class="@item.CssClass" aria-hidden="true"></span> @item.Name</a></li>
        }
    </ul>

    </div>

