﻿@model IEnumerable<MasterInterface.Model.CourseInstituteBodyModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Create/update user for college
                </h2>
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstituteBodyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstituteBodyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstituteType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstituteAccountCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLAccountCode)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstituteBodyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstituteBodyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstituteType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstituteAccountCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLAccountCode)
            </td>

            <td>
                @if (item.IsUserCreated)
                {
                    @Html.ActionLink("Update User", "Update", new { id = item.Id }) <text>|</text>
                    @Html.ActionLink("ResetPassword", "Reset", new { id = item.Id },
                           new { onclick = "return confirm('Do you want to reset?');" })
                }
                else
                {
                @Html.ActionLink("Create User", "Create", new { id = item.Id }, new { @class = "btn btn-default" })
                 }
                

            </td>
        </tr>
    }

</table>
