﻿@model IEnumerable<MasterInterface.Model.RoleModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span>@Html.ActionLink("Create New", "Create")</span></li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Menu
                </h2>
            </div>
        </div>
    </div>
}


<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccessAll)
                </th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Id)
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccessAll)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Update", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        </div>
</div>