﻿@model IEnumerable<MasterInterface.Model.RoleModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessAll)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.Id)
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessAll)
            </td>
            <td>
                @Html.ActionLink("Edit", "RoleMenuAccessSetup", new { id = item.Id })
                @Html.ActionLink("Assign Menu", "RoleMenuAccessSetup", "AssignMenu", new { id = item.Id })
            </td>
        </tr>
    }

</table>
