﻿@model MasterInterface.Model.AssignMenuModel

@{
    ViewBag.Title = "RoleMenuAccessSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}

<h3>RoleMenuAccessSetup   [  @ViewBag.RoleName  ]</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.RoleId, new { htmlAttributes = new { @class = "form-control" } })
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table">
            <tr>
                <th><input type="checkbox" id="SelectAll"></th>
                <th>Menu</th>
                <th>Create</th>
                <th>Read</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>


            @for (int i = 0; i <= Model.Menu.Count - 1; i++)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(model => model.Menu[i].IsSelected, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Menu[i].IsSelected, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.Menu[i].Id)
                        @Html.DisplayFor(model => model.Menu[i].Name)
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.Menu[i].Create, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Menu[i].Create, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.Menu[i].Read, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Menu[i].Read, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.Menu[i].Update, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Menu[i].Update, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.Menu[i].Delete, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Menu[i].Delete, "", new { @class = "text-danger" })
                    </td>
                </tr>
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#SelectAll").click(function () {

            if ($("#SelectAll").prop('checked')) {
                $("input[type=checkbox]").each(function () {
                    $(this).prop('checked', true)
                });
            }
            else {
                $("input[type=checkbox]").each(function () {
                    $(this).prop('checked', false)
                });
            }
        });



    </script>
}
