﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Copy Right Young Minds -->
    <title>Police Headquarter</title>
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/img/fev/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/fev/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/fev/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/fev/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/fev/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/fev/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/fev/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/fev/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/fev/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/img/fev/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/fev/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/img/fev/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/fev/favicon-16x16.png">
    <link rel="manifest" href="~/img/fev//manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/startbootstrap-simple-sidebar-1.0.5/css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    
    <link href="~/Content/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables/DataTables-1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />

    
    <link href="~/Content/admin.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/brand.css" rel="stylesheet" />
    <link href="~/Content/nanoscroller.css" rel="stylesheet" />
    <link href="~/Content/EmployeeProfile.css" rel="stylesheet" />



    <style type="text/css">
        #notification_li {
            position: relative;
        }
        #info {
            color:#2bb132;
        }|
        .readOnlyClas {
        }

        #notificationContainer {
            background-color: #fff;
            border: 1px solid rgba(100, 100, 100, .4);
            -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
            overflow: visible;
            position: absolute;
            top: 30px;
            margin-left: -180px;
            width: 390px;
            z-index: 999999;
            display: none;
        }

        #notificationContainer:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            color: transparent;
            border: 10px solid black;
            border-color: transparent transparent white;
            margin-top: -20px;
            margin-left: 188px;
        }

        #notificationTitle {
            font-weight: bold;
            padding: 8px;
            font-size: 13px;
            background-color: #1ac6ff;
            position: fixed;
            z-index: 1000;
            width: 390px;
            color: #fff;
        }

        #notificationsBody {
            padding: 33px 0px 0px 0px !important;
            min-height: 300px;
            margin-top: 5px;
        }

        #notificationFooter {
            background-color: #e9eaed;
            text-align: center;
            font-weight: bold;
            padding: 8px;
            font-size: 12px;
            border-top: 1px solid #dddddd;
        }

        #notification_count {
            background: #F00;
            border-radius: 9px;
            color: #ffffff;
            font-size: 11px;
            font-weight: bolder;
            margin-left: 23px;
            padding: 5px;
            position: absolute;
        }
        .container-fluid{
               
        background-color: #ffffff;
        }
    </style>
    @*@RenderSection("styles", required: false)*@
</head>


<body>
    <div class="color-line"></div>
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid" style="padding-right:25px; padding-left:25px;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
@if (@User.Identity.Name == "SuperAdmin")
{
                <div class="col-md-9 col-lg-9 col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <span class="logo">
                            <a href="/employees">
                                <span>
                                    <img src="~/img/IOE.GIF" height="50" width="50">
                                </span>
                                <span style="color:black">  Police Headquarter</span>

                            </a>
                        </span>
                    </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2" style="margin-top:12px;">
                        <span style="color:#2bb132; font-size:large">Welcome!</span> <span style="color:#267bcc; font-size:larger">@User.Identity.Name</span>
                    </div>
}
else
{
    <div class="col-md-8 col-lg-8 col-sm-8">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <span class="logo">
                <a href="/employees">
                    <span>
                        <img src="~/img/IOE.GIF" height="50" width="50">
                    </span>
                    <span style="color:black"> Police Headquarter</span>

                </a>
            </span>
        </div>
    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3" style="margin-top:12px;">
                        <span style="color:#2bb132; font-size:large">Welcome!</span> <span style="color:#267bcc; font-size:larger">@User.Identity.Name</span>
                    </div>
}

               

                    <div class="col-md-1 col-lg-1 col-sm-1">
                          <a href="/login/logout" class="btn btn-default btn-flat" style="margin-top:7px"><i class="fa fa-sign-out"></i>Sign out</a>
                    </div>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
           
        
    </nav>
    <ol class="subMenu menusBg menusColor">
      @{Html.RenderAction("GetMainMenuList", "Login"); }
    </ol>


    <div class="container-fluid" id="wrapper">
        @RenderSection("SideBar", required: false)
        <div class="wrapper container-fluid" id="wrapper">
        @{Html.RenderAction("SideBar", "Login"); }
     </div>


        @RenderSection("PageHeader", required: false)
        <div class="row">
            <div class="col-lg-12 col-md-12" id="page-content-wrapper">

                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                         @TempData["Success"]
                    </div>
                }
                @if (TempData["Danger"] != null)
                {
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                        @TempData["Danger"]
                    </div>
                }



                @RenderBody()
            </div>
        </div>
        <div class="row">
            <footer class="blue navbar-fixed-bottom1">
                <hr />
                <p style="padding-bottom: 2px; margin-bottom: 2px;"> Copyright &copy; @DateTime.Now.Year <a href="http://www.youngminds.com.np">Young Minds  </a>. All rights reserved </p>
                Powered by <a href="http://www.youngminds.com.np" target="_blank">Young Minds</a>
            </footer>
        </div>
    </div>

    @* SCRIPTS HERE *@

    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.nanoscroller.js"></script>
    <script src="~/Content/scripts/ConfigurationCreate.js"></script>
    <script src="~/Scripts/BeehrmCustom.js"></script>
    <script src="~/Content/DataTables/DataTables-1.10.12/js/jquery.dataTables.min.js"></script>

    @*<script src="~/Scripts/bootstrap-datepicker.min.js"></script>*@
    <script src="~/Content/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#notificationLink").click(function () {
                $("#notificationContainer").fadeToggle(300);
                $("#notification_count").fadeOut("slow");
                return false;
            });

            //Document Click hiding the popup
            $(document).click(function () {
                $("#notificationContainer").hide();
            });

            //Popup on click
            $('li a #parentMenuId').on('click', function () {

                alert('clicked')
            });
        });
    </script>
    <script type="text/javascript">
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $("#wrapper").toggleClass("toggled");
        $("#search-toggle").click(function () {
            $('#search-box').toggleClass('toggledSearch');
        });
        $(".nano").css({ height: ($(window).height() - 50) + 'px' });
        $("#sidebar-wrapper").css({ height: ($(document).height() - 90) + 'px' });
        $(".nano").nanoScroller();
        $(".nano-message").nanoScroller();
        $(".nano-notification").nanoScroller();
    </script>
    <script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
    </script>
    <script type="text/javascript">
    $(".datepicker").datepicker();
    </script>
    @RenderSection("scripts", required: false)
    @*@MiniProfiler.RenderIncludes()*@
</body>
</html>
